In [44]:
import sqlite3
conn = sqlite3.connect('revenue.db')
c = conn.cursor()
a=[]
#cpyid = input ('請輸入上市公司代碼:')
c.execute('''DROP TABLE eps''')
c.execute('''CREATE TABLE eps (yr real, qr real, cpyid text,cpyname text, eps real)''')
#conn.commit()
for i in c.execute("SELECT * FROM eps WHERE cpyid='3045'"):
    a.append(i)
print (a)

[]

In [ ]:
import urllib.request
from bs4 import BeautifulSoup
url = 'http://mops.twse.com.tw/mops/web/ajax_t163sb04?'\
        'encodeURIComponent=1&step=1&firstin=1&off=1&TYPEK=sii&year=102&season=01'
response = urllib.request.urlopen(url)
html = response.read()
sp = BeautifulSoup(html.decode('utf8'))
tbls=sp.find_all('table',attrs={ 'class' : "hasBorder"})
#print(tbls)

for tbl in tbls:
    ths=tbl.find_all('th')
    #print(ths)
    i=0
    j=0
    for th in ths:
        i=i+1
        if "每股盈餘"  in th.get_text():
            #print(i,ths[i-1].get_text())
            j=i
            
    
    trs=tbl.find_all('tr',attrs={ 'class' : "even"})                
    for tr in trs:
        tds=tr.find_all('td')
        print (tds[0].get_text(),tds[1].get_text(),tds[j-1].get_text())
        epslist=(102,1,tds[0].get_text(),tds[1].get_text(),float(tds[j-1].get_text()))
        c.execute('INSERT INTO eps VALUES (?,?,?,?,? )', epslist) 
        
    trs=tbl.find_all('tr',attrs={ 'class' : "odd"})   
    #print(trs)
    for tr in trs:
        tds=tr.find_all('td')
        print (tds[0].get_text(),tds[1].get_text(),tds[j-1].get_text())        
        epslist=(102,1,tds[0].get_text(),tds[1].get_text(),float(tds[j-1].get_text()))
        c.execute('INSERT INTO eps VALUES (?,?,?,?,? )', epslist)